*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    
}
#logo{
    display: block;
    height: 100px;
    width: 100px;
    margin: 20px auto;
    border-radius: 50%;
}
.name{
    font-size: 2.5em;
    color: #333;
    margin: 10px 0;
    display: inline-block;
}
body{
    background-color: rgb(234, 228, 211);
    padding: 20px;
    border: 1px solid #000000;
    margin: 20px;
}